<div id="weather-header" class="view jumbotron card-image blog-item-jumbotron h-50 px-5 py-5 BgStyle">

    <div class="col-md-6 mx-auto text-white text-center">
        <!-- blog title and author name -->
        <h4 class="h4 mt-2 mb-5">Weather Forecast & Weather History</h4>
        <mat-button-toggle-group name="" aria-label="Font Style">
            <mat-button-toggle (click)="getWeatherData('Horsens')" value="">Horsens</mat-button-toggle>
            <mat-button-toggle toggle (click)="getWeatherData('Aarhus')" value="">Århus</mat-button-toggle>
            <mat-button-toggle toggle (click)="getWeatherData('Copenhagen')" value="">Copenhagen</mat-button-toggle>
        </mat-button-toggle-group>

    </div>
    <div>
        <app-filter></app-filter>
    </div>
</div>
<div>
    <p> You've clicked <button type="button" class="btn btn-light" (click)="countClick()">this</button>{{clickCounter}}
        times</p>
    <div>
        <!-- two way data binding...the input parameter will send and recieve data from and to the home component -->
        <p><input type="text" [(ngModel)]="name">
            <br>
            <strong>you said</strong> {{name}}
        </p>
    </div>


</div>
<div [style.background-color]="clickCounter>4 ? 'yellow' : 'cyan' ">

    <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none" ]>
        <p>click counter >4</p>
    </ng-template>

    <ng-template #none>
        <p>click counter not > 4</p>
    </ng-template>


</div>

<!-- DISPLAYING DATA ON TABLES -->
<div>
    <ngb-accordion [closeOthers]="true" activeIds="static-1">
        <ngb-panel id="static-1" title="Simple">
            <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon
                officia
                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                moon
                tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                keffiyeh
                helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                accusamus
                labore sustainable VHS.
            </ng-template>
        </ngb-panel>
        <ngb-panel id="static-2">
            <ng-template ngbPanelTitle>
                <span>&#9733; <b>Fancy</b> title &#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon
                officia
                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                moon
                tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                keffiyeh
                helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                accusamus
                labore sustainable VHS.
            </ng-template>
        </ngb-panel>

    </ngb-accordion>
</div>
<!-- /accordian -->
<!-- table showing weather data -->
<div>
    <table class="table table-striped table-hover" *ngIf="weatherData">
        <thead>
            <tr>
                <th scope="col">Place</th>
                <th scope="col">Weather type</th>
                <th scope="col">Value</th>
                <th scope="col">Unit</th>
                <th scope="col">time</th>
                <th scope="col">Precipitation type</th>
                <th scope="col">Wind Direction</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of weatherData">
                <td>{{element.place}}</td>
                <td>{{element.type}}</td>
                <td>{{element.value}}</td>
                <td>{{element.unit}}</td>
                <td>{{element.time}}</td>
                <ng-template [ngIf]="element.type=='precipitation' " [ngIfElse]="dash">
                    <td>{{element.precipitation_type}}</td>
                </ng-template>

                <ng-template [ngIf]="element.type=='wind speed' " [ngIfElse]="dash">
                    <td>{{element.direction}}</td>
                </ng-template>
                <ng-template #dash>
                    <td>-</td>

                </ng-template>


            </tr>
        </tbody>
    </table>
</div>