<div id="weather-header" class="view jumbotron card-image blog-item-jumbotron h-50 px-5 py-5 BgStyle">

    <div class="col-md-6 mx-auto text-white text-center">
        <!-- blog title and author name -->
        <h1 class="text-bold mt-2 mb-5">Weather Forecast & Weather History for {{cities}}</h1>

        <mat-button-toggle-group name="" aria-label="Font Style" [(ngModel)]="cities"
            (ngModelChange)="onCityChange($event)">
            <mat-button-toggle toggle selected value="Horsens">Horsens</mat-button-toggle>
            <mat-button-toggle toggle value="Aarhus">Århus</mat-button-toggle>
            <mat-button-toggle toggle value="Copenhagen">Copenhagen</mat-button-toggle>
        </mat-button-toggle-group>

    </div>
    <div class="text-center mt-1"><button mat-raised-button (click)="retrieveAllData()">Refresh Data</button>
    </div>
    <div>
        <app-filter [cities]=cities (returnData)="setFilterData($event)"></app-filter>
    </div>
    <div>
        <app-post></app-post>
    </div>
</div>

<!-- DISPLAYING DATA ON TABLES -->
<div>
    <ngb-accordion [closeOthers]="true" activeIds="static-1">
        <ngb-panel id="static-1">
            <ng-template ngbPanelTitle>
                <span>&#9733; <b>Weather Forecast {{cities}}</b> &#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <div>
                    <table class="table table-striped table-hover text-center">
                        <thead>
                            <tr>
                                <th scope="col">Place</th>
                                <th scope="col">Weather type</th>
                                <th scope="col">From</th>
                                <th scope="col">to</th>
                                <th scope="col">Unit</th>
                                <th scope="col">time</th>
                                <th scope="col">Precipitation types</th>
                                <th scope="col">Wind Directions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let element of weatherForecast">
                                <th>{{element.place}}</th>
                                <td>{{element.type}}</td>
                                <td>{{element.from}}</td>
                                <td>{{element.to}}</td>
                                <td>{{element.unit}}</td>
                                <td>{{element.time}}</td>

                                <ng-template [ngIf]="element.type=='precipitation' " [ngIfElse]="dash">
                                    <ng-template> [precipitation_types]="element.precipitation_types" </ng-template>
                                    <td>{{element.precipitation_types}}</td>
                                </ng-template>
                                <ng-template [ngIf]="element.type=='wind speed' " [ngIfElse]="dash">
                                    <ng-template> [directions]="element.directions" </ng-template>
                                    <td>{{element.directions}}</td>
                                </ng-template>
                                <ng-template #dash>
                                    <td>-</td>
                                </ng-template>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel id="static-2">
            <ng-template ngbPanelTitle>
                <span>&#9733; <b>Weather History for {{cities}}</b> &#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Place</th>
                                <th scope="col">Weather type</th>
                                <th scope="col">Value</th>
                                <th scope="col">Unit</th>
                                <th scope="col">time</th>
                                <th scope="col">Precipitation type</th>
                                <th scope="col">Wind Direction</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let element of weatherHistory">
                                <th>{{element.place}}</th>
                                <td>{{element.type}}</td>
                                <td>{{element.value}}</td>
                                <td>{{element.unit}}</td>
                                <td>{{element.time}}</td>
                                <ng-template [ngIf]="element.type=='precipitation' " [ngIfElse]="dash">
                                    <td>{{element.precipitation_type}}</td>
                                </ng-template>

                                <ng-template [ngIf]="element.type=='wind speed' " [ngIfElse]="dash">
                                    <td>{{element.direction}}</td>
                                </ng-template>
                                <ng-template #dash>
                                    <td>-</td>

                                </ng-template>


                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </ngb-panel>

    </ngb-accordion>
</div>