* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fdfdfd;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.my-card {

  border-color: red;
}

.outline-link {
  border-radius: 25%;
  border-color: rgb(255, 255, 255) !important;
  background-color: transparent !important;
  color: rgb(75, 75, 75) !important;
}

.outline-link:hover {
  border-color: #06b2e2 !important;
  background-color: #06aad8 !important;
  color: white !important;
}

.outline-link.active {
  border-color: #06b2e2 !important;
  background-color: #06aad8 !important;
  color: white !important;
}

.outline-btn {
  border-radius: 25%;
  border-color: rgb(255, 255, 255) !important;
  background-color: transparent !important;
  color: white !important;
}

.outline-btn:hover {
  border-color: #06b2e2 !important;
  background-color: #06aad8 !important;
  color: white;
}

.BgStyle {
  background: linear-gradient(rgba(129, 172, 238, 0.7),
      rgba(2, 17, 49, 0.7)),
    url(img/Horsens.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}